body {
  margin: 0 !important;
}

.image-section {
  background-color: #eaf2ff;
}

.login-image {
  height: 312px;
  width: 100%;
}

.padding-40-24 {
  padding: 40px 24px 0px 24px;
}

.welcome-text {
  font-size: 24px !important;
}

.margin-top-bottom-24 {
  margin: 24px 0 !important;
}

.input-field {
  width: 100% !important;
}

.MuiOutlinedInput-root {
  border-radius: 12px !important;
}

.MuiFormHelperText-root {
  margin-bottom: 16px !important;
  margin-left: 0 !important;
}

.primary-button {
  width: 100%;
  padding: 12px 0 !important;
  border-radius: 12px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.not-a-member-section {
  text-align: center !important;
}

.sign-up-text {
  font-size: 16px !important;
}

.create-account-text {
  font-weight: 400 !important;
  color: #71727a;
}

.input-label {
  font-weight: 700 !important;
  margin-bottom: 4px !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flex-direction-column {
  flex-direction: column;
}

.snackbar-success {
  background-color: green !important;
}

.snackbar-error {
  background-color: red !important;
}

@media screen and (max-width: 600px) {
  .padding-40-24 {
    padding: 40px 24px !important;
  }

  .centered-container {
    display: block !important;
  }
}
